<nav class="navbar navbar-expand-lg navbar-light shadow-sm py-3">
  <div class="container-fluid">
    
    <a class="navbar-brand font-weight-bold" href="{% url 'index' %}" style="letter-spacing: 2px;">
      TREINO&nbsp;<span class="text-warning">SCORE</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav align-items-center">
        
        <li class="nav-item mx-2">
          <a class="nav-link px-2" href="{% url 'workouts:workout_index' %}">Treinos</a>
        </li>
        
        <li class="nav-item mx-2">
          <a class="nav-link px-2" href="{% url 'contact' %}">Contato</a>
        </li>

        {% if not user.is_authenticated %}
          <li class="nav-item mx-2">
            <a class="btn btn-outline-dark btn-sm px-4" href="{% url 'login' %}">Entrar</a>
          </li>
          <li class="nav-item mx-2">
            <a class="btn btn-warning btn-sm px-4 font-weight-bold" href="{% url 'register' %}">Cadastrar</a>
          </li>
        {% else %}
          <li class="nav-item mx-2">
            <a class="nav-link" href="{% url 'users:profile' %}">Perfil</a>
          </li>
          <li class="nav-item mx-2">
            <form action="{% url 'logout' %}" method="post" class="m-0">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm px-3">Sair</button>
            </form>
          </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>